<div id='company-form'></div>

<script>

  $(function() {
    var companyForm = React.createElement(CompanyForm, { id: 'company-form', 
                                                         title: 'Edit <%= @company.name %> + offices', 
                                                         companyFormPath: '<%= company_form_path(@company) %>'//,
                                                       } );
    React.render(companyForm, document.getElementById('company-form'));
  });

</script>



