<div id='company-form'></div>

<script>

  $(function() {
    var companyForm = React.createElement(CompanyForm, { id: 'company-form', 
                                                         title: 'Edit <%= @form.company.name %> + offices', 
                                                         companyPathPrefix: '<%= company_path(@form.company) %>', 
                                                         companyName: '<%= @form.company.name %>',
                                                         companyEmployeeCount: '<%= @form.company.employee_count %>' } );
    
    React.render(companyForm, document.getElementById('company-form'));
  });

</script>



