<div id='company-form'></div>

<script>

  $(function() {
    var companyForm = React.createElement(CompanyForm, { id: 'company-form', 
                                                         isNewCompanyForm: '<%= @company.present? ? false : true %>',
                                                         companyFormPath: '<%= company_form_path(@company) %>'//,
                                                       } );
    ReactDOM.render(companyForm, document.getElementById('company-form'));
  });

</script>



